*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100vw;
    height: 95vh;
    background-image: url(Images/bg.jpg);
    background-position: center center;
    background-size: max(1310px,100vw);
    background-repeat: no-repeat;
    
}

.main .box{
    height: 95vh;
    width: 100%;
    opacity: 0.45;
    background-color: black;
    position: absolute;
    top:0;
}

nav{
    display: flex;
    max-width: 80vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
